{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <h3>Mot de passe oublié ?</h3>
            <div class="container form-group">
                {{ form_start(forgotPasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(forgotPasswordForm) }}
                <button type="submit" id="btn-modify" href="#edit" class="btn btn-primary">Envoyer</button>
                {{ form_end(forgotPasswordForm) }}
            </div>
        </div>
    </div>

{% endblock %}