{% extends 'base.html.twig' %}
{% block body %}
    <div class="container contents">
        <div class="container">
            <div class="row">
                <h3>Formulaire du mot de passe oublié</h3>
                <div class="container">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}