{% extends 'base.html.twig' %}
{% block body %}

    <div class="container contents">
        <div class="container">
            <div class="row">
                <h3>Formulaire du mot de passe oublié</h3>
                <div class="container form-group">
                    <form method="post">
                        <div class="form-group">
                            <label for="inputPassword">Votre mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="Mot de passe" required>
                            <input type="hidden" name="token" value="{{ token }}">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Répété votre mot de passe</label>
                            <input type="password" name="password" id="repeat_password" class="form-control"
                                   placeholder="Mot de passe à nouveau" required>
                            <input type="hidden" name="token" value="{{ token }}">
                        </div>
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var password = document.getElementById("password"),
            repeat_password = document.getElementById("repeat_password");

        function validatePassword() {
            if(password.value != repeat_password.value) {
                repeat_password.setCustomValidity("Les 2 mots de passe ne correspondent pas!");
            } else {
                repeat_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        repeat_password.onkeyup = validatePassword;
    </script>
{% endblock %}