{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <h3>Formulaire d'ajout d'un Tricks</h3>
            <div class="container form-group">
                {{ form_start(addTricksForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(addTricksForm) }}
                <button type="submit" class="btn btn-primary"><span class="fa fa-plus"> Ajouter</span></button>
                {{ form_end(addTricksForm) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            initMultiForm($('#snowtricksbundle_tricks_pictures'), 'Ajouter une nouvelle image');
            initMultiForm($('#snowtricksbundle_tricks_videos'), 'Ajouter une nouvelle vidéo');
        });

        function initMultiForm($collectionHolder, labelLink) {
            var $addFormLink = $('<a href="#" class="add_tag_link">'+labelLink+'</a>');
            var $newLinkLi = $('<div></div>').append($addFormLink);

            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addFormLink.on('click', function (e) {
                e.preventDefault();
                addPrototypeForm($collectionHolder, $newLinkLi);
            });
        }

        function addPrototypeForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

    </script>

{% endblock %}