{% extends 'base.html.twig' %}
{% block body %}

    <div class="container" style="margin-top: 10px">
        <div class="row">
            <p>Êtes-vous sur de vouloir supprimer définitivement ce tricks ?&nbsp;</p>
            {{ form_start(deleteTricksForm) }}
            {{ form_rest(deleteTricksForm) }}
            <button type="submit" class="btn btn-danger"><span class="fa fa-trash"> Supprimer</span></button>
            {{ form_end(deleteTricksForm) }}
        </div>
    </div>

{% endblock %}